body {
  margin: 0;
  font-family:
    'Helvetica Neue',
    Helvetica,
    'Hiragino Sans',
    'Hiragino Kaku Gothic ProN',
    Arial,
    'Yu Gothic',
    Meiryo,
    sans-serif;
}

/* ============================== */

/* ページネーション */
.pagenation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20px;
  list-style-type: none;

  li {
    margin-top: 20px;

    a,
    span {
      display: block;
      padding: 20px;
      line-height: 1;
      background-color: #fff;
      border: 1px solid #333;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.pagenation li span {
  color: #fff;
  background-color: #333;
}

// レスポンシブ対応
$break-point-pc: 1025px;
$break-point-tablet: 600px;
$break-point-phone: 599.8px;

@mixin media-phone {
  @media screen and (max-width: $break-point-phone) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: $break-point-tablet) and (max-width: $break-point-pc - 0.02px) {
    @content;
  }
}

@mixin media-pc {
  @media screen and (min-width: $break-point-pc) {
    @content;
  }
}
