@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Arial, 'Yu Gothic', Meiryo, sans-serif;
}

/* ============================== */
/* ページネーション */
.pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
  list-style-type: none;
}

.pagenation li {
  margin-top: 20px;
}

.pagenation li a,
.pagenation li span {
  display: block;
  padding: 20px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #333;
}

.pagenation:not(:last-child) {
  margin-right: 20px;
}

.pagenation li span {
  color: #fff;
  background-color: #333;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template: '......  header header' 1fr '......  main   main  ' 1fr 'footer  footer footer' 1fr / 1fr 2fr 1fr;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  grid-area: header;
  padding: 4em;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: main;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  grid-area: footer;
}

/* ================================================================= */
/* sideバー */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar-toggle {
  display: none;
}

aside {
  position: absolute;
  left: -25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  max-width: 250vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

aside nav {
  width: 25vw;
  margin: 0 auto;
}

aside nav li:nth-child(even) {
  background-color: #a1c2a1;
}

aside nav li:hover {
  background-color: #1a01fa;
}

#sidebar-enable:checked ~ .sidebar {
  display: none;
}

#sidebar-enable:checked ~ aside {
  left: 0;
}

#sidebar-enable:checked:checked ~ .sidebar-close {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black !important;
}

/* ================================================================= */
/* mainタブ */
.main-content {
  display: none;
  width: 100%;
  height: 100%;
  border: solid 10px;
}

.tab-switch {
  display: none;
}

.tab-switch:checked + .main-content {
  display: inline;
  background-color: #fa9cf2;
}

.tab-label {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 30%;
  height: 6vh;
  background-color: #fdf180;
  border: solid 10px;
}

/* ================================================================= */
/* モーダル */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 65%;
  height: 40%;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal p {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  font-size: 14px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal p::before {
  content: 'コンテンツ・内容が入ります。';
}

.modal-close-wrap {
  position: absolute;
  top: 20px;
  right: 40px;
}

/* モーダルの×マークのフレーム */
.modal-close {
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  /* モーダルの×マークの線一つ。heightが1なので線みたいになってる
   rotateで回転させることで×を作成している */
}

.modal-close span {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background: black;
}

.modal-close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-open {
  padding: 10px 12px;
  color: #fff;
  cursor: pointer;
  background: orange;
  border: orange;
}

.overlay.open {
  display: block;
}

.modal.open {
  display: block;
}

/* ================================================================= */
/* zのレイアウト */
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap:not(:last-child) {
  margin-bottom: 4%;
}

.wrap:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

img {
  display: block;
  width: 66%;
  height: auto;
}

.box {
  width: 30%;
}

/* ================================================================= */
/* レスポンシブ対応 */
@media screen and (min-width: 768px) {
  /* sideバー */
  .sidebar {
    display: none;
  }
  aside {
    left: 0;
  }
}
/*# sourceMappingURL=main.css.map */