@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, "Yu Gothic", Meiryo, sans-serif;
}

/* ============================== */
/* ページネーション */
.pagenation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20px;
  list-style-type: none;
}
.pagenation li {
  margin-top: 20px;
}
.pagenation li a,
.pagenation li span {
  display: block;
  padding: 20px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #333;
}
.pagenation:not(:last-child) {
  margin-right: 20px;
}

.pagenation li span {
  color: #fff;
  background-color: #333;
}

.container {
  display: grid;
  grid-template: "header  header header" 1fr "main    main   main  " 1fr "footer  footer footer" 1fr/1fr 2fr 1fr;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .container {
    grid-template: "......  header header" 1fr "......  main   main  " 1fr "footer  footer footer" 1fr/1fr 2fr 1fr;
  }
}

.header {
  grid-area: header;
  padding: 4em;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  align-content: flex-start;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
}

/* ================================================================= */
/* sideバー */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .sidebar {
    display: none;
  }
}

.sidebar-toggle {
  display: none;
}

aside {
  position: absolute;
  left: -25vw;
  display: flex;
  flex-direction: column;
  width: 25vw;
  max-width: 250vw;
  height: 100vh;
  background: #fff;
  transition: all 0.2s;
}
@media screen and (min-width: 600px) and (max-width: 1024.98px) {
  aside {
    left: -25vw;
    background: #a1c2a1;
  }
}
@media screen and (min-width: 1025px) {
  aside {
    left: 0;
  }
}
aside nav {
  width: 25vw;
  margin: 0 auto;
}
aside nav li:nth-child(even) {
  background-color: #ee2020;
}
aside nav li:hover {
  background-color: #1a01fa;
}

#sidebar-enable:checked ~ .sidebar {
  display: none;
}
#sidebar-enable:checked ~ aside {
  left: 0;
}
#sidebar-enable:checked:checked ~ .sidebar-close {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black !important;
}

/* ================================================================= */
/* mainタブ */
.main-content {
  display: none;
  order: 2;
  width: 100%;
  height: 90%;
  margin: 0;
  border: solid 1px;
}

.tab-switch {
  display: none;
}
.tab-switch:checked + .main-content {
  display: inline;
  background-color: #fa9cf2;
}

.tab-label {
  order: -1;
  width: 30%;
  height: 10%;
  background-color: #fdf180;
  border: solid 1px;
}

/* ================================================================= */
/* zのレイアウト */
.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrap:not(:last-child) {
  margin-bottom: 4%;
}
.wrap:nth-child(even) {
  flex-direction: row-reverse;
}
.wrap img {
  display: block;
  width: 66%;
  height: auto;
}

.box {
  width: 30%;
}

/* ================================================================= */
/* 企業情報デザイン */
dl {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

dt {
  width: 10%;
  border-bottom: 2px solid #0277b4;
}

dd {
  width: 20%;
  border-bottom: 1px solid #6f6f6f;
}
/*# sourceMappingURL=main.css.map */