body {
  display: grid;
  grid-template:
    "header  header header" 1fr
    "sidebar main   main  " 1fr
    "footer  footer footer" 1fr
    / 1fr 2fr 1fr;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
}

.header {
  grid-area: header;
  margin: 0 auto;
  padding: 4em;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* サイドバー */
.sidebar-toggle {
  display: none;
}

aside {
  display: none;
}

nav {
  width: 100%;
  margin: 0 auto;
}

#sidebar-enable:checked ~ aside {
  display: flex;
}

.sidebar aside nav li:nth-child(even) {
  background-color: rgb(24, 245, 24);
}
