body {
  position: relative;
}

.container {
  display: grid;
  grid-template:
    "......  header header" 1fr
    "......  main   main  " 1fr
    "footer  footer footer" 1fr
    / 1fr 2fr 1fr;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
}

.header {
  grid-area: header;
  margin: 0 auto;
  padding: 4em;
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
}

/* sideバー */
.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.sidebar-toggle {
  display: none;
}

aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  width: 230px;
  max-width: 230px;
  left: -250px;
  height: 100%;
  transition: all 0.2s;
  background: #ffffff;
}

nav {
  width: 230px;
  margin: 0 auto;
}

#sidebar-enable:checked ~ aside {
  left: 0;

}

aside nav li:nth-child(even) {
  background-color: rgb(175, 189, 175);
}

aside nav li:hover {
  background-color: rgb(26, 1, 250);
}

/* ================================================================= */
/* mainタブ */
.tab-switch {
  display: none;
}

.tab-label {
  order: -1;
  width: 30%;
  height: 6vh;
  border: solid 10px;
  background-color: rgb(253, 241, 128);
}

.main-content {
  display: none;
  width: 100%;
  height: 100%;
  border: solid 10px;
}

.tab-switch:checked + .main-content {
  display: inline;
  background-color: rgb(250, 156, 242);
}
